# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan

# Terraform lock file
.terraform.lock.hcl

# Node
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log


# Backend build artifacts
backend/dist/

# Lambda deployment artifacts
infra/modules/lambda/lambda.zip
